.container {
    width: 100%;
    margin-bottom: var(--ax-space-20);
    display: flex;
    justify-content: end;
    gap: var(--ax-space-8);
    grid-area: chart;
}

.chartContainer {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.2s ease;
    flex: 1;
}

.chartContainer.open {
    height: 100px;
}

.showButton {
    height: max-content;
}
