.container {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}

.label {
  font-size: var(--ax-font-size-medium);
  line-height: var(--ax-font-line-height-medium);
  font-weight: var(--ax-font-weight-bold);
}

.buttons {
  position: relative;
  width: max-content;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 0;
  background: var(--ax-bg-input);
  border-radius: var(--ax-border-radius-large);
  border: 1px solid var(--ax-border-neutral);
  color: var(--ax-text-neutral);
}

.buttons > button:first-of-type {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.dateSelectButton {
  border: none;
  background: none;
  color: inherit;
  height: 100%;
  padding: 0 var(--ax-space-12);
}

.textFieldButton {
  height: 100%;
  padding: 0 var(--ax-space-8);
  display: flex;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdownMenu {
  width: 500px;
}

.row {
  display: flex;
  gap: var(--ax-space-8);
  width: 100%;
}

.tabsPanel {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.tabsPanel > *:first-child {
  margin-top: var(--ax-space-16);
}

.textField {
  width: 100%
}

.select {
  width: 100%;
}

.pickerContainer > div:first-child > div {
  padding: 0;
}

.pickerContainer {
  --timelist-height: 0;
  position: relative;
  gap: var(--ax-space-20);
  flex-wrap: nowrap;
}

.datePicker > div {
  padding: 0;
}

.timeList {
  height: var(--timelist-height);
  overflow-y: auto;
  gap: var(--ax-space-4);
}

.active {
  color: var(--ax-text-accent-contrast);
  background: var(--ax-bg-accent-strong-pressed);
}