.container {
  position: relative;
  display: grid;
  gap: var(--ax-space-12);
  grid-template-rows: min-content 1fr;
}

@media (max-width: 479px) {
  .container {
    padding-left: var(--ax-space-12);
    padding-right: var(--ax-space-12);
  }
}

.filters {
  display: flex;
  gap: var(--ax-space-32);
}

.filters > * {
  max-height: max-content;
  height: max-content;
}

.input {
  width: 330px;
}

@media screen and (max-width: 767px) {
  .filters {
    flex-direction: column;
    gap: var(--ax-space-16);
  }
}
