.container {
    padding: var(--ax-space-24);
    height: 100%;
}

.image {
    margin-bottom: var(--ax-space-32);
}

.heading {
    margin-bottom: var(--ax-space-16);
}

.text {
    margin-bottom: var(--ax-space-24);
}

.button {
    width: max-content;
}
