.page {
    flex: 1;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: grid;
    grid-template-areas: 'filters' 'chart' 'table';
    grid-template-rows: max-content max-content auto;
    padding: 1rem;
}

.alert {
    height: max-content;
}

.filtere {
    margin-bottom: var(--ax-space-20);
    grid-area: filters;
}

.footer {
    grid-area: footer;
}
