.main {
    --main-height: calc(100dvh - 48px);
    min-height: var(--main-height);
    max-height: var(--main-height);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--ax-space-20);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--ax-space-32);
}

@media (max-width: 479px) {
    .main {
        padding: var(--ax-space-20) 0;
    }
}
