.tableContainer {
    max-width: 100vw;
    display: flex;
    overflow-x: auto;
    scrollbar-gutter: stable;
}

.table {
    overflow: scroll;
}

.row {
    transition: background 0.2s ease;
}

.cell {
    white-space: nowrap;
}

.periodContent {
    display: grid;
    min-width: max-content;
    grid-template-columns: auto auto;
    gap: var(--ax-space-8);
    text-align: start;
}

.active {
    background: var(--ax-bg-neutral-moderate-hoverA);
}

.messageKey {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}