.container {
    position: relative;
    background: var(--ax-bg-sunken);
    padding: var(--ax-space-16);
    font-size: var(--ax-font-size-small);
    color: var(--ax-success-900);
}

.copyButtonContainer {
    position: absolute;
    top: var(--ax-space-16);
    right: var(--ax-space-16);
}
