.textFieldContainer {
    position: relative;
    width: max-content;
    max-height: max-content;
}

.textField {
    justify-content: start;
}

.textField > input {
    padding-right: var(--ax-space-48);
    height: max-content;
}

.textFieldButton {
    height: 48px;
    padding: var(--ax-space-12);
    position: absolute;
    right: 0;
    top: var(--ax-space-32);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.container {
    gap: var(--ax-space-20);
}

.dateTimeTextField {
    margin-top: var(--ax-space-8);
}

.pickerContainer {
    --timelist-height: auto;
    position: relative;
    gap: var(--ax-space-20);
}

.datePicker > div {
    padding: 0;
}

.timeList {
    height: var(--timelist-height);
    overflow-y: auto;
    gap: var(--ax-space-4);
}

.active {
    color: var(--ax-text-accent-contrast);
    background: var(--ax-bg-accent-strong-pressed);
}