.container {
  position: relative;
  background: var(--ax-bg-sunken);
  padding: var(--ax-space-16);
  font-size: var(--ax-font-size-small);
  color: var(--ax-warning-1000);
}

.key {
  color: var(--ax-warning-1000);
}

.string {
  color: var(--ax-success-900);
}

.number {
  color: var(--ax-meta-purple-1000);
}

.nullish {
  color: var(--ax-brand-blue-1000);
}

.boolean {
  color: var(--ax-brand-magenta-1000);
}

.copyButtonContainer {
  position: absolute;
  top: var(--ax-space-16);
  right: var(--ax-space-16);
}