.StatusBadge {
  --background: var(--ax-neutral-100A);
  --border-color: var(--ax-neutral-500);
  background: var(--background);
  width: max-content;
  padding: var(--ax-space-4) var(--ax-space-8);
  border-radius: var(--a-border-radius-medium);
  border: 1px solid var(--border-color);
}

.StatusBadge.FAIL {
  --background: var(--ax-danger-100A);
  --border-color: var(--ax-danger-500);
}

.StatusBadge.COMPLETE {
  --background: var(--ax-success-100A);
  --border-color: var(--ax-success-500);
}

.StatusBadge.MANUAL {
  --background: var(--ax-info-100A);
  --border-color: var(--ax-info-500);
}
