.container {
  position: relative;
}

.textField > input {
  padding-right: 2.3rem;
}

.clearButton {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}