.container {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-24);
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: var(--ax-space-16);
  align-items: center;
}