.period {
  position: absolute;
  background: var(--ax-text-neutral-subtle);
  height: 100%;
  width: var(--ax-space-8);
  border-radius: var(--ax-border-radius-large);
  transform: translateX(-50%);
}