.period {
    position: absolute;
    height: 100%;
    min-width: 1%;
    border-radius: var(--ax-border-radius-medium);
    transform: translateX(-50%);
    border-style: solid;
    border-width: 1px;
}

.period:focus-visible,
.period:hover {
    cursor: pointer;
    filter: brightness(150%);
    border-width: 2px;
    z-index: 1000;
}

.period.neutral {
    background: var(--ax-bg-neutral-moderate);
    border-color: var(--ax-border-neutral);
}

.period.success {
    background: var(--ax-bg-success-moderate);
    border-color: var(--ax-border-success);
}

.period.danger {
    background: var(--ax-bg-danger-moderate);
    border-color: var(--ax-border-danger);
}

.period.warning {
    background: var(--ax-bg-warning-moderate);
    border-color: var(--ax-border-warning);
}

.period.info {
    background: var(--ax-bg-info-moderate);
    border-color: var(--ax-border-info);
}
