.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-y: auto;
    scrollbar-gutter: stable;
    grid-area: table;
}

.table {
    height: max-content;
    overflow: scroll;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ax-space-32);
    padding: var(--ax-space-16) 0;
}