.tableContainer {
    max-width: 100vw;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.tabs {
    padding: var(--ax-space-8) 0;
    margin-bottom: var(--ax-space-16);
}

.table {
    height: max-content;
    overflow: scroll;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--ax-space-32);
    padding: var(--ax-space-16) 0;
}

.header button {
    color: var(--ax-text-accent-subtle);
}